################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOF Gaurd/bin/Debug
/.vs/OOF Gaurd/FileContentIndex
/OOF Gaurd/obj/Debug
/OOF Gaurd/publish
/.vs/OOF Gaurd/v17/.suo
/.vs/OOF Guard/FileContentIndex
/obj/Debug
/OOF Guard/bin/Debug
/OOF Guard/obj/Debug
/OOF Guard/publish
