################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOF Guard/
/obj/Debug
/OOF Guard/bin/Debug
/OOF Guard/obj/Debug
/OOF Guard/publish
